{% extends "base/base.html" %}

{% block content %}

    <form class="form-inline" method="post">{% csrf_token %}
        <fieldset class="form-group">
            <legend>{{ title }}</legend>
            {% for field in form %}
                {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            <span class="help-inline">
                                {% for error in  field.errors %}
                                    <p class="text-danger"><strong>{{ error }}</strong></p>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            {% if field.help_text %}
                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    {% if message %}
                        <span class="alert alert-info"><strong>{{message}}</strong></span>
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <br />
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
    </form>
    
{% endblock %}